:root {
  /** Type **/
  --type-bug: #8CB230;
  --type-dark: #58575F;
  --type-dragon: #0F6AC0;
  --type-electric: #EED535;
  --type-fairy: #ED6EC7;
  --type-fighting: #D04164;
  --type-fire: #FD7D24;
  --type-flying: #748FC9;
  --type-ghost: #556AAE;
  --type-grass: #62B957;
  --type-ground: #DD7748;
  --type-ice: #61CEC0;
  --type-normal: #9DA0AA;
  --type-poison: #A552CC;
  --type-psychic: #EA5D60;
  --type-rock: #BAAB82;
  --type-steel: #417D9A;
  --type-water: #4A90DA;
}