/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body {
    background: var(--background-white);
    color: var(--ion-text-color);
    font-family: var(--ion-font-family);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title {
    font-size: 100px;
    font-weight: 700;
}
.application-title {
    font-size: 32px;
    font-weight: 700;
}
.pokemon-name {
    font-size: 26px;
    font-weight: 700;
}
.filter-title {
    font-size: 16px;
    font-weight: 700;
}
.description {
    font-size: 16px;
    font-weight: 400;
}
.pokemon-number {
    font-size: 12px;
    font-weight: 700;
}
.pokemon-type {
    font-size: 12px;
    font-weight: 500;
}