<img src="assets/patterns/pokeball.svg" alt="Pokéball">
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="custom-generation"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="custom-sort"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="custom-filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar>
    <h1 class="application-title">Pokédex</h1>
    <h2 class="description">Search for Pokémon by name or using the National Pokédex number.</h2>
    <div class="search-bar">
      <ion-icon slot="icon-only" name="custom-search"></ion-icon>
      <input type="text" placeholder="What Pokémon are you looking for?">
    </div>
  </ion-toolbar>
</ion-header>
