$gradient-vector: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
$gradient-pokeball: linear-gradient(180deg, #F5F5F5 50%, #FFFFFF 94.81%);
$gradient-vector-grey: linear-gradient(100.59deg, #E5E5E5 0%, rgba(245, 245, 245, 0) 100%);
$gradient-pokeball-grey: linear-gradient(135deg, #ECECEC 0%, #F5F5F5 100%);
$gradient-vector-white: linear-gradient(100.84deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
$gradient-pokeball-white: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
$gradient-pokemon-name: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 76.04%);
$gradient-pokemon-circle: linear-gradient(334.58deg, rgba(255, 255, 255, 0.35) 16.24%, rgba(255, 255, 255, 0) 44.6%);

app-home {
  background: var(--background-white);

  ion-content {
    img {
      position: absolute;
      width: 100%;
    }
  
    ion-header {
      ion-toolbar {
        --background: transparent;
  
        ion-buttons {
          margin: 0;
          padding: 40px 40px 35px 0;
        }
  
        h1 {
          margin: 0 40px 10px 40px;
        }
        h2 {
          color: var(--text-grey);
          margin: 0 40px 25px 40px;
        }
  
        .search-bar {
          display: flex;
          align-items: center;
          background: var(--background-default-input);
          border-radius: 10px;
          margin: 0 40px 20px 40px;
          padding: 20px 25px;
  
          ion-icon {
            position: absolute;
            width: 20px;
            height: 20px;
          }
  
          input {
            background: var(--background-default-input);
            border: none;
            width: 100%;
  
            &::placeholder {
              color: var(--text-grey);
              text-align: center;
            }
  
            &:focus {
              border: none;
              box-shadow: none;
              outline: none;
              padding-left: 40px;
            }
          }
          input:focus::placeholder {
            color: transparent;
          }
        }
      }
    }
  }
}